### 3.1

In [1]:
import pandas as pd

In [2]:
# doc file csv
stocks1 = pd.read_csv('data//stocks1.csv')

In [3]:
# doc 5 dong dau
print(stocks1.head(5))

       date symbol     open     high      low    close   volume
0  01-03-19   AMZN  1655.13  1674.26  1651.00  1671.73  4974877
1  04-03-19   AMZN  1685.00  1709.43  1674.36  1696.17  6167358
2  05-03-19   AMZN  1702.95  1707.80  1689.01  1692.43  3681522
3  06-03-19   AMZN  1695.97      NaN      NaN  1668.95  3996001
4  07-03-19   AMZN  1667.37  1669.75  1620.51  1625.95  4957017

In [4]:
# hien thi kieu dtype cua moi cot
print(stocks1.dtypes)

date       object
symbol     object
open      float64
high      float64
low       float64
close     float64
volume      int64
dtype: object

In [5]:
# hien thong tin tong quan
print(stocks1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    15 non-null     object
 1   symbol  15 non-null     object
 2   open    15 non-null     float64
 3   high    13 non-null     float64
 4   low     13 non-null     float64
 5   close   15 non-null     float64
 6   volume  15 non-null     int64
dtypes: float64(4), int64(1), object(2)
memory usage: 972.0+ bytes
None

### 3.2

In [ ]:
print(stocks1.isnull())

In [ ]:
# thay the gt null o cot high bang gt trung binh cua cot high
stocks1['high'].fillna(stocks1['high'].mean(), inplace = True)
stocks1

In [ ]:
# thay the du lieu null o cot low bang gt trung binh cot low
stocks1['low'].fillna(stocks1['low'].mean(), inplace=True)

In [ ]:
# hien thi tt tong quan xn k con null
print(stocks1.info())

### 3.3

In [ ]:
# doc file
stocks2 = pd.read_csv('data//stocks2.csv')
stocks2

In [ ]:
# gop 2 stocks
stocks = pd.concat([stocks1, stocks2], ignore_index = True)# dam bao chi so duoc dat lai
stocks

In [52]:
# tinh gt trug binh
stocks['tinh_tong'] = stocks[['open', 'high', 'low', 'close']].mean(axis =1) #tinh theo hang(moi ngay)

In [ ]:
# hien thi 5 dong dau kq
print(stocks.head(5))

### 3.4

In [54]:
# doc file
companies = pd.read_csv('data//companies.csv')

In [ ]:
# hien thi 5 dong dau
print(companies.head(5))

In [ ]:
# ket hop stocks va companies
ket_hop = pd.merge(stocks, companies, on = 'symbol') # chi dong cot de ghep